<nb-card>

  <nb-card-header>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <nb-icon
            pack="eva"
            icon='funnel-outline'
            attr.aria-label='Filtro'>
          </nb-icon>
          Filtros
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">

            <div class="col-9">
              <input
                type="text"
                nbInput
                fullWidth
                placeholder="Nome:">
            </div>

            <div class="col-2">
              <input
              type="text"
              nbInput
              fullWidth
              placeholder="Documento:">
            </div>

            <div class="col-1">
              <button nbButton fullWidth outline (click)="add()">
                <nb-icon
                  pack="eva"
                  icon='search-outline'
                  attr.aria-label='adicionar usuario'>
                </nb-icon>
              </button>
            </div>

          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
      </nb-accordion>
  </nb-card-header>

  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-striped table-hover">

        <thead>
          <tr>
            <th class="col-2"> Categoria </th>
            <th class="col-7"> Nome </th>
            <th class="col-2"> Valor </th>
            <th class="col-1" colspan="2">Ações</th>
          </tr>
        </thead>

        <thead>
          <tr>

            <th colspan="3">
            </th>

            <th  colspan="2">
              <button nbButton fullWidth outline (click)="add()">
                <nb-icon
                  pack="eva"
                  icon='plus-outline'
                  attr.aria-label='adicionar usuario'>
                </nb-icon>
              </button>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of item$ | async">
            <td class="align-middle">{{item?.category}}</td>
            <td class="align-middle">{{item?.name}}</td>
            <td class="align-middle">{{item?.value | currency}}</td>
            <td>
              <button nbButton fullWidth outline (click)="add()" status="success">
                <nb-icon
                  pack="eva"
                  icon='edit-outline'
                  attr.aria-label='adicionar usuario'>
                </nb-icon>
              </button>
            </td>
            <td>
              <button nbButton fullWidth outline (click)="delete(item)" status="danger">
                <nb-icon
                  pack="eva"
                  icon='trash-2-outline'
                  attr.aria-label='adicionar usuario'>
                </nb-icon>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </nb-card-body>

</nb-card>
