<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" [nbSpinner]="loading">
  <nb-card *ngIf="init">
    <nb-card-body>
      <div class="row">

        <div class="col-xl-8 col-md-6 col-12 form-group ">

          <span class="label">
            Nome:*
          </span>

          <input
            type="text"
            nbInput
            fullWidth

            [status]='getStatus(name())'
            formControlName="name"
            class="form-control"
            placeholder="Nome:">

          <span class="text-danger label" *ngIf="isSubmmited && name().hasError('required')">
            Campo Obrigatório
          </span>

        </div>

        <div class="col-xl-4 col-md-6 col-12 form-group ">

          <span class="label">
            Categoria:*
          </span><br/>

          <nb-select
            placeholder="Selecione"
            [status]='getStatus(category())'
            formControlName="category"
            fullWidth
            title="Categoria:">
            <nb-option value="Sócio Fundador">Sócio Fundador</nb-option>
            <nb-option value="Sócio Efetivo">Sócio Efetivo</nb-option>
            <nb-option value="Temporário">Temporário</nb-option>
          </nb-select>

        </div>

        <div class="col-md-6 col-12 form-group ">

          <span class="label">
            Valor:*
          </span>

          <input
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            type="text"
            nbInput
            fullWidth
            [status]='getStatus(value())'
            formControlName="value"
            class="form-control"
            placeholder="Valor:">

          <span class="text-danger label" *ngIf="isSubmmited && value().hasError('required')">
            Campo Obrigatório
          </span>


        </div>


      </div>
    </nb-card-body>

    <nb-card-footer>

      <button nbButton type="button" (click)="back()" class="m-1" >
        Voltar
      </button>

      <button nbButton type="submit" class="m-1">
        Enviar
      </button>

    </nb-card-footer>
  </nb-card>
</form>
