<hr/>

<h6 class="text-center">PADRÃO DA PORTARIA MS 2914/2011</h6>
<div class="table-responsive">
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th colspan="4" class="text-center">
          Decreto Federal nº. 5.440/2005
        </th>
      </tr>
    </thead>

    <thead>
      <tr>
        <th>
          Parâmetros
        </th>

        <th>
          Exigidas
        </th>

        <th>
          Analisadas
        </th>

        <th>
          Em Conformidade
        </th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="align-middle">Cor aparente - 15UH</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
      </tr>
      <tr>
        <td class="align-middle">Turbidez</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
      </tr>
      <tr>
        <td class="align-middle">Cloro - Min 0,2 mg/l</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
      </tr>
      <tr>
        <td class="align-middle">Eschirichia Coli</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
      </tr>
      <tr>
        <td class="align-middle">Coliformes Totais</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
      </tr>
  </table>
</div>

<h6 class="text-center">Parâmetros de Qualidade da Água</h6>

<div class="table-responsive">
  <table class="table table-sm table-boderless table-hover">
    <tbody>
      <tr><th>Coliformes Totais:</th><td>Indicador que mensura contaminação bacteriológica, do tipo: bacilos gram-negativos, aeróbios ou anaeróbios facultativos não esporogênicos, oxidase-negativos.</td></tr>
      <tr><th> E.coli:</th><td> Indicador que mensura contaminação bacteriológica de origem fecal.</td></tr>
      <tr><th> Cloro Residual:</th><td> Indicador de Poder Desinfetante oriundo do Cloro (Agente de Desinfecção).</td></tr>
      <tr><th> Turbidez:</th><td>Indicador do espalhamento de luz produzido pela presença de partículas em suspensão ou coloidais. </td></tr>
      <tr><th> Cor Aparente:</th><td>Indicador que mensura a cor em amostras com turbidez.</td></tr>
    </tbody>
  </table>
</div>

