
<div class="row">
  <div class="col-md-2 col-12">
    logo
  </div>

  <div class="col-md-10 col-12 ">
    <table class="table table-sm  table-borderless">
      <tbody>
        <tr><td> CNPJ: 13.228.119/0001-68</td></tr>
        <tr><td> Publicação do estatuto no Diário Oficial de 22-06-1983</td></tr>
        <tr><td> Reconhecido como Órgão de utilidade publica Municipal - conf.lei N 7 de 27-10-1983</td></tr>
        <tr><td> Reconhecido como Órgão de utilidade publica Estadual - conf.lei N 7049 de 16-04-1997</td></tr>
        <tr><td> Rua Morro do Chapéu, CEP 44700-000, S/N - Tel (74) 3674-2165</td></tr>
        <tr><td> Lages do Batata - Jacobina, BA</td></tr>
        <tr><td> Email : acallages@hotmail.com</td></tr>
      </tbody>
    </table>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-12 text-center">
    <h3> <u>Associação Comunitária e Assistêncial de Lages </u></h3>
    <h5> <u> ÁGUA É UM DEVER DE TODO SER HUMANO </u></h5>
  </div>
</div>
