<nb-card>
  <nb-card-header>
    <nb-icon
      pack="eva"
      icon='archive-outline'
      >
    </nb-icon>
    Gerar Fatura
  </nb-card-header>
</nb-card>

<nb-card>

  <nb-card-header>
    <nb-list>
      <nb-list-item>
        Gerando: 37 faturas
      </nb-list-item>
      <nb-list-item>
        Valor:  R$ 1304.00
      </nb-list-item>
    </nb-list>
  </nb-card-header>

  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-hover">

        <thead>
          <tr>
            <th>Endereco</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Gerar</th>
          </tr>

          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><nb-checkbox status="basic" outline>Selecionar</nb-checkbox> </th>
          </tr>
        </thead>

        <tbody>
          <tr class="table-success align-middle">
            <th colspan="4" class="text-center">
              Avenida Fernando Daltro
            </th>

            <th>
              <nb-checkbox status="basic" outline>Selecionar</nb-checkbox>
            </th>
          </tr>

          <tr class="align-middle table-secondary" >
            <td>Alexandre Bezerra de Queiroz</td>
            <td>Sócio Efetivo</td>
            <td>10/A</td>
            <td>30,00</td>
            <th>
              <nb-checkbox status="basic" outline> Selecionar</nb-checkbox>
            </th>
          </tr>

          <tr>
            <td>Alexandre Bezerra de Queiroz</td>
            <td>Temporario</td>
            <td>20</td>
            <td>35,00</td>
            <th>
              <nb-checkbox status="basic"></nb-checkbox>
            </th>
          </tr>
        </tbody>

      </table>
    </div>
  </nb-card-body>

</nb-card>
