<hr/>

<div class="row ">

  <div class="col-md-4 col-12 column">
    <div class="h-25 w-100 d-inline-block border">
      <div class="col-12 text-center">
        <h5> Nº de Associado</h5>
        <h6> 161-LPHF </h6>
      </div>
    </div>

    <div class="h-75 w-100 d-inline-block border">
      <table class="table table-sm table-striped table-hover">
        <tbody>
          <tr><th>Sócio:</th><td>Alecsandra Pereira da Silva</td></tr>
          <tr><th>Endereço:</th><td>Avenida Raul Mangabeira Av 2 Bairro Pedro Henrique Ferreira</td></tr>
          <tr><th>CEP:</th><td>44700-000, Lages do Batata - Jacobina</td></tr>
          <tr><th>Categoria:</th><td>Sócio Contribuinte Temporario</td></tr>
          <tr><th>CEP:</th><td>Sócio Contribuinte Temporario</td></tr>
          <tr><th>Leitura anterior:</th><td>38.000 m³</td></tr>
          <tr><th>Leitura atual:</th><td>38.000 m³</td></tr>
        </tbody>
      </table>
    </div>

    <hr/>
  </div>

  <div class="col-md-4 col-12 column" >

      <div class="h-25 w-100 d-inline-block border">
        <div class="col-12 text-center ">
          <h5> Registro Número</h5>
          <h6> 2020.001.0011 </h6>
        </div>
      </div>

      <div class="h-75 w-100 d-inline-block border"></div>

      <hr/>
  </div>


  <div class="col-md-4 col-12 column">
    <div class="h-25 w-100 d-inline-block border">
      <div class="col-12 text-center">
        <h5> Referência </h5>
        <h6> Setembro, 2020 </h6>
      </div>
    </div>

    <div class="h-75 w-100 d-inline-block border">
      <table class="table table-sm table-striped table-hover">
        <tbody>
          <tr><th>Data de Emissão:</th><td>04 de outubro de 2022</td></tr>
          <tr><th>Vencimento:</th><td>10 de outubro de 2022</td></tr>
          <tr><th>Taxa mínima:</th><td>R$ 30,00</td></tr>
          <tr><th>Valor Excesso:</th><td>R$ 0,00</td></tr>
          <tr><th>Outras Taxas:</th><td>R$ 0,00</td></tr>
          <tr><th>Taxa de Sócio :</th><td>R$ 0,00</td></tr>
          <tr class="border-top"><th>Valor total:</th><td>R$ 30,00</td></tr>
        </tbody>
      </table>
    </div>
    <hr/>
  </div>


</div>

